@model Application.Models.SmartPayFusePayment

@{
    ViewBag.FormTitle = "Make a payment";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}

<div class="panels">
    <div class="grid grid--gutters">
        <div class="container container--page" style="max-width: 800px;">
            <div class="grid__section">
                <div class="grid__row">
                    <div class="grid__column grid__column--12">
                        <div class="panel">
                            <form method="POST" id="paymentForm" action="@Model.SmartPayFusePaymentEndpoint">
                                <fieldset>
                                    <legend>Proceed to payment</legend>

                                     <p>You're being redirected to our secure online payment system.</p>
                                     <p>If you are not automatically redirected within 10 seconds please select 'Begin your payment' below</p>
 
                                    <input type="hidden" name="access_key" value="@Model.AccessKey">
                                    <input type="hidden" name="profile_id" value="@Model.ProfileId">
                                    <input type="hidden" name="transaction_uuid" value="@Model.TransactionUuid">
                                    <input type="hidden" name="signed_field_names" value="access_key,profile_id,transaction_uuid,signed_field_names,unsigned_field_names,signed_date_time,locale,transaction_type,reference_number,amount,currency,override_backoffice_post_url,override_custom_cancel_page,override_custom_receipt_page">
                                    <input type="hidden" name="unsigned_field_names" value="bill_to_address_line1,bill_to_address_city,bill_to_address_state,bill_to_address_postal_code,bill_to_address_country,bill_to_email">
                                    <input type="hidden" name="signed_date_time" value="@Model.SignedDateTime.ToString("yyyy-MM-dd'T'HH:mm:ss'Z'")">
                                    <input type="hidden" name="locale" value="@Model.Locale">
                                    <input type="hidden" name="transaction_type" value="@Model.TransactionType">
                                    <input type="hidden" name="reference_number" value="@Model.ReferenceNumber">
                                    <input type="hidden" name="amount" value="@Model.Amount">
                                    <input type="hidden" name="currency" value="@Model.Currency">

                                    <input type="hidden" name="override_backoffice_post_url" value="@Model.OverrideBackofficePostUrl">
                                    <input type="hidden" name="override_custom_cancel_page" value="@Model.OverrideCustomCancelPage">
                                    <input type="hidden" name="override_custom_receipt_page" value="@Model.OverrideCustomReceiptPage">

                                    <input type="hidden" name="signature" value="@Model.Signature">

                                    <input type="hidden" name="bill_to_address_line1" value="@Model.BillToAddressLine1">
                                    <input type="hidden" name="bill_to_address_city" value="@Model.BillToAddressCity">
                                    <input type="hidden" name="bill_to_address_state" value="@Model.BillToAddressState">
                                    <input type="hidden" name="bill_to_address_postal_code" value="@Model.BillToAddressPostalCode">
                                    <input type="hidden" name="bill_to_address_country" value="@Model.BillToAddressCountry">
                                    <input type="hidden" name="bill_to_email" value="@Model.BillToEmail">


                                    <div style="text-align: center; margin-top: 2rem;">
                                        <input type="submit" class="button button--main " value="Begin your payment">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script type="text/javascript">
        document.getElementById('paymentForm').submit();
    </script>
